<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Добавить вопрос в тест</title>
  <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<a href="/admin/tests/tests">Назад к списку тестов</a><br /><br />

<h2>Добавить вопрос к тесту: <span th:text="${test.name}">Название теста</span></h2>

<form action="#" th:action="@{/admin/tests/{id}/addQuestion(id=${test.id})}" method="post">
  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
  <input type="hidden" name="testId" th:value="${test.id}" />

  <label for="questionText">Текст вопроса:</label><br />
  <textarea id="questionText" name="questionText" required></textarea><br /><br />

  <div>
    <label for="answers0">Вариант 1:</label>
    <input type="text" id="answers0" name="answers[0]" required/>
    <label><input type="checkbox" name="correctAnswers[0]"/> Правильный ответ</label><br />

    <label for="answers1">Вариант 2:</label>
    <input type="text" id="answers1" name="answers[1]" required/>
    <label><input type="checkbox" name="correctAnswers[1]"/> Правильный ответ</label><br />

    <label for="answers2">Вариант 3:</label>
    <input type="text" id="answers2" name="answers[2]" required/>
    <label><input type="checkbox" name="correctAnswers[2]"/> Правильный ответ</label><br />

    <label for="answers3">Вариант 4:</label>
    <input type="text" id="answers3" name="answers[3]" required/>
    <label><input type="checkbox" name="correctAnswers[3]"/> Правильный ответ</label><br />
  </div>

  <button type="submit" name="action" value="addAnother">Добавить ещё один вопрос</button>
  <button type="submit" name="action" value="finish">Закончить добавление вопросов</button>
</form>

<!-- Сообщения -->
<div th:if="${message}" style="color: green;">
  <p th:text="${message}">Сообщение</p>
</div>

<div th:if="${error}" style="color: red;">
  <p th:text="${error}">Ошибка</p>
</div>
</body>
</html>