<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Редактирование вопроса</title>
    <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Редактирование вопроса</h1>

<a th:href="@{/admin/tests/{id}/viewTest(id=${question.test.id})}">Назад к списку вопросов</a><br /><br />

<form action="#" th:action="@{/admin/tests/{id}/editQuestion(id=${question.id})}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="hidden" name="id" th:value="${question.id}" />
    <input type="hidden" name="testId" th:value="${question.test.id}" />

    <div>
        <label for="questionText">Текст вопроса:</label><br />
        <textarea id="questionText" name="questionText" required th:text="${question.text}"></textarea><br /><br />
    </div>

    <div th:if="${question.imagePath != null}">
        <p>Текущее изображение:</p>
        <img th:src="@{${question.imagePath}}" width="200" height="200" /><br /><br />
    </div>

    <div>
        <label>Вариант 1:</label>
        <input type="text" name="answers[0]" required th:value="${question.answers[0].answerText}"/>
        <label><input type="checkbox" name="correctAnswers[0]" th:checked="${question.answers[0].isCorrect}"/> Правильный ответ</label><br /><br />

        <label>Вариант 2:</label>
        <input type="text" name="answers[1]" required th:value="${question.answers[1].answerText}"/>
        <label><input type="checkbox" name="correctAnswers[1]" th:checked="${question.answers[1].isCorrect}"/> Правильный ответ</label><br /><br />

        <label>Вариант 3:</label>
        <input type="text" name="answers[2]" required th:value="${question.answers[2].answerText}"/>
        <label><input type="checkbox" name="correctAnswers[2]" th:checked="${question.answers[2].isCorrect}"/> Правильный ответ</label><br /><br />

        <label>Вариант 4:</label>
        <input type="text" name="answers[3]" required th:value="${question.answers[3].answerText}"/>
        <label><input type="checkbox" name="correctAnswers[3]" th:checked="${question.answers[3].isCorrect}"/> Правильный ответ</label><br /><br />
    </div>

    <button type="submit">Сохранить изменения</button>
</form>

<div th:if="${message}" style="color: green;">
    <p th:text="${message}">Сообщение</p>
</div>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}">Ошибка</p>
</div>
</body>
</html>