<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Добавление новой темы</title>
  <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container mt-4">
  <a href="/admin">К административной панели</a><br /><br />

  <h2>Добавить новую тему</h2>

  <form action="#" th:action="@{/admin/themes/addTheme}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

    <div class="mb-3">
      <label for="themeName" class="form-label">Название темы:</label>
      <input type="text" class="form-control" id="themeName" name="themeName" th:value="${themeTest.themeName}" required />
    </div>

    <button type="submit" class="btn btn-success">Добавить</button>
    <a href="/admin/themes/themes" class="btn btn-secondary">Отмена</a>
  </form>
</div>
</body>
</html>