<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Редактирование темы</title>
    <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container mt-4">
    <h2>Редактирование темы</h2>

    <form action="#" th:action="@{/admin/themeTest/edit/{id}(id=${themeTest.id})}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <div class="mb-3">
            <label for="name" class="form-label">Название темы:</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${themeTest.name}" required />
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="/admin/themeTest/list" class="btn btn-secondary">Отмена</a>
    </form>
</div>
</body>
</html>