<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Список тем тестов</title>
    <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div th:replace="~{admin/_fragments :: layout(title='Темы тестов', username=${username}, message=${message}, error=${error})}">
</div><br />

<div class="container mt-4">

    <a th:href="@{/admin/themes/addTheme}" class="btn btn-primary mb-3">Добавить новую тему</a>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Название темы</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="theme : ${themeTests}">
            <td th:text="${theme.themeName}">Название темы</td>
            <td>
                <a th:href="@{/admin/themes/{id}/editTheme(id=${theme.id})}" class="btn btn-sm btn-secondary">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/js/logout.js" defer></script>
</body>
</html>