<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:inline="text">[[${title}]]</title>
  <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>

<!-- Верхняя часть страницы -->
<header>
  <h1>Административная панель</h1>
  <p>Вы вошли как: <strong th:text="${username}">Username</strong></p>
</header>

<!-- Навигационное меню -->
<div class="nav-menu">
  <a href="/admin/themes/themes">Управление темами тестирования</a>
  <a href="/admin/tests/tests">Управление тестами</a>
  <a href="/admin/users/users">Управление пользователями</a>
  <a href="/admin/assignments/assignTest">Назначить тест пользователю</a>
  <a href="/admin/assignments/assignments">Список назначенных тестов</a>
  <span class="logout-link">Выйти</span>
</div>

<!-- Сообщения -->
<div th:if="${message}" style="color: green;">
  <p th:text="${message}">Сообщение</p>
</div>

<div th:if="${error}" style="color: red;">
  <p th:text="${error}">Ошибка</p>
</div>

<div th:fragment="layout(title, username, message, error)">

  <h1 th:text="${title}">Заголовок</h1>
  <p>Вы вошли как: <strong th:text="${username}">Username</strong></p>

  <div class="nav-menu">
    <a href="/admin/themes/themes">Управление темами тестирования</a>
    <a href="/admin/tests/tests">Управление тестами</a>
    <a href="/admin/users/users">Управление пользователями</a>
    <a href="/admin/assignments/assignTest">Назначить тест пользователю</a>
    <a href="/admin/assignments/assignments">Список назначенных тестов</a>
    <span class="logout-link">Выйти</span>
  </div>

  <form id="logout-form" method="post" action="/logout" style="display: none;">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
  </form>

  <div th:if="${message}" style="color: green;">
    <p th:text="${message}">Сообщение</p>
  </div>

  <div th:if="${error}" style="color: red;">
    <p th:text="${error}">Ошибка</p>
  </div>
</div>

<script src="/js/logout.js" defer></script>

</body>
</html>