<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Административная панель</title>
    <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Административная панель</h1>

<p>Вы вошли как: <strong type="text" th:text="${username}">Username</strong></p>

<hr />
<a href="/admin/themes/themes">Управление темами тестирования</a><br />
<a href="/admin/tests/tests">Управление тестами</a><br /><br />

<hr />

<hr />
<a href="/admin/users/users">Управление пользователями</a><br /><br />

<hr />

<a href="/admin/assignments/assignTest">Назначить тест пользователю</a><br />
<a href="/admin/assignments/assignments">Список назначенных тестов</a><br />

<form method="post" action="/logout">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    <button type="submit" class="btn btn-danger">Выйти</button>
</form>

<div th:if="${message}" style="color: green;">
    <p th:text="${message}">Сообщение</p>
</div>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}">Ошибка</p>
</div>
</body>
</html>