<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Результаты теста: ' + ${assignedTest.test.name}">Результаты</title>
    <a href="/user" class="btn btn-link">Назад к профилю</a>
    <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container mt-4">
    <h1 th:text="'Результаты теста: ' + ${assignedTest.test.name}">Результаты теста</h1>

    <p th:if="${score >= assignedTest.test.passingScore}" style="color: green; font-weight: bold;">
        Тест пройден! Вы набрали <span th:text="${score}">0</span> из 10.
    </p>
    <p th:if="${score < assignedTest.test.passingScore}" style="color: red; font-weight: bold;">
        Тест не пройден! Вы набрали <span th:text="${score}">0</span> из 10.
    </p>


    <h2>Ваши ответы:</h2>
    <ul>
        <li th:each="userAnswer : ${userAnswers}">
            <strong th:text="'Вопрос: ' + ${userAnswer.question.text}">Вопрос</strong><br/>
            <ul>
                <li th:each="selectedAnswer : ${userAnswer.selectedAnswers}">
                    <span th:text="'Ответ: ' + ${selectedAnswer.answer.answerText}">Ответ</span>
                    <span th:if="${selectedAnswer.isCorrect}" style="color: green;">✅</span>
                    <span th:if="${not selectedAnswer.isCorrect}" style="color: red;">❌</span>
                </li>
            </ul>
        </li>
    </ul>

    <a href="/user/userAssignedTests" class="btn btn-primary">Вернуться к списку тестов</a>
</div>
</body>
</html>