<!-- src/main/resources/templates/user/userPathTest.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${assignedTest.test.name}">Тест</title>
    <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1 th:text="${assignedTest.test.name}">Тест</h1>

    <!-- Отображение заголовка: "Вопрос номер X из Y" -->
    <h3 th:text="'Вопрос номер ' + (${currentIndex} + 1) + ' из ' + ${questions.size()}">Вопрос номер ... из ...</h3>

    <!-- Вывод текущего вопроса -->
    <div class="question-box">
        <p th:text="${questions[currentIndex].text}">Вопрос</p>

        <form method="post" th:action="@{/user/{testId}/answer(testId=${assignedTest.id})}">
            <input type="hidden" name="currentIndex" th:value="${currentIndex}">
            <div class="options">
                <label th:each="answer, iterStat : ${questions[currentIndex].answers}">
                    <input type="checkbox"
                           th:name="'answers[' + ${iterStat.index} + ']'"
                           th:value="${answer.id}"/>
                    <span th:text="${answer.answerText}">Ответ</span>
                </label>
            </div>

            <div class="buttons">
                <div class="d-flex flex-column gap-2">
                    <!-- Кнопка "Подтвердить ответ" -->
                    <button type="submit"
                            th:if="${currentIndex + 1 != questions.size()}"
                            th:text="'Подтвердить ответ'"
                            class="btn btn-primary w-100">
                    </button>

                    <!-- Кнопка "Завершить тестирование" -->
                    <button type="submit"
                            th:if="${currentIndex + 1 == questions.size()}"
                            th:text="'Завершить тестирование'"
                            class="btn btn-success w-100">
                    </button>

                    <!-- Кнопка "Прервать тестирование" -->
                    <a href="/user/userAssignedTests" class="btn btn-danger w-100">Прервать тестирование</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>