<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Редактирование пользователя</title>
    <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{admin/_fragments :: layout(title='Редактирование пользователя', username=${username}, message=${message}, error=${error})}">
</div><br />

<a href="/admin/users/users">К списку пользователей</a><br /><br />

<form th:action="@{/admin/users/editUser}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="hidden" name="id" th:value="${user.id}" />

    <label for="username">Имя пользователя:</label><br />
    <input type="text" id="username" name="username" th:value="${user.username}" required/><br /><br />

    <div>
        <label for="password">Пароль (оставьте пустым, если не хотите менять):</label><br />
        <input type="password" id="password" name="password" />
        <button type="button" id="togglePassword" class="btn btn-sm btn-secondary">
            Показать
        </button><br /><br />
    </div>

    <label for="role">Роль:</label><br />
    <select id="role" name="role" required>
        <option th:each="roleType : ${roles}"
                th:text="${roleType.name() == 'ADMIN' ? 'Администратор' : 'Пользователь'}"
                th:value="${roleType}"
                th:selected="${user.role == roleType}">
        </option>
    </select><br /><br />

    <label for="employeeId">Табельный номер:</label><br />
    <input type="text" id="employeeId" name="employeeId" th:value="${user.employeeId}" required/><br /><br />

    <label for="name">ФИО:</label><br />
    <input type="text" id="name" name="name" th:value="${user.name}" required/><br /><br />

    <label for="departmentEditId">Отдел:</label><br />
    <select id="departmentEditId" name="departmentEditId" class="form-control mb-3">
        <option value="">-- Выберите отдел --</option>
        <option th:each="dept : ${departments}"
                th:value="${dept.id}"
                th:selected="${dept.id == user.department?.id}"
                th:text="${dept.departmentName}">
        </option>
<!---        <option th:value="${user.department.departmentName}"></option>
        <option th:each="dept : ${departments}"
                th:value="${dept.id}"
                th:selected="${dept.id == departmentId}"
                th:text="${dept.departmentName}">
        </option> --->
    </select><br /><br />

    <label for="positionEditId">Должность:</label><br />
    <select id="positionEditId" name="positionEditId" class="form-control mb-3">
        <option value="">-- Выберите должность --</option>
        <option th:each="pos : ${positions}"
                th:value="${pos.id}"
                th:selected="${pos.id == user.position?.id}"
                th:text="${pos.positionName}">
        </option>
<!---        <option th:value="${user.position.positionName}"></option>
        <option th:each="pos : ${positions}"
                th:value="${pos.id}"
                th:selected="${pos.id == positionId}"
                th:text="${pos.positionName}">
        </option> --->
    </select><br /><br />

    <label for="hireDate">Дата приема на работу:</label><br />
    <input type="datetime-local" id="hireDate" name="hireDate"
           th:value="${#temporals.format(user.hireDate, 'yyyy-MM-dd HH:mm')}" required/><br /><br />

    <button type="submit">Сохранить изменения</button>

    <input type="hidden" name="search" th:value="${search}" />
    <input type="hidden" name="department" th:value="${department}" />
    <input type="hidden" name="position" th:value="${position}" />
</form>

<!-- Сообщения -->
<div th:if="${message}" style="color: green;">
    <p th:text="${message}">Сообщение</p>
</div>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}">Ошибка</p>
</div>

<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        const passwordInput = document.getElementById("password");
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
        passwordInput.setAttribute("type", type);
        this.textContent = type === "password" ? "Показать" : "Скрыть";
    });
</script>
<script src="/js/logout.js" defer></script>
</body>
</html>