<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Назначенные тесты</title>
  <link rel="icon" href="/promopack_logo.ico" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<a href="/admin">К административной панели</a><br /><br />
<h2>Назначенные тесты</h2>

<!-- Форма фильтрации -->
<form action="#" th:action="@{/admin/assignments/assignments}" method="get">
  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

  <div class="form-group">
    <label for="testName">Название теста:</label>
    <input class="form-control mb-3" type="text" name="testName" id="testName" th:value="${param.testName}" />
  </div>

  <div class="form-group">
    <label for="userName">Сотрудник:</label>
    <input class="form-control mb-3" type="text" name="userName" id="userName" th:value="${param.userName}" />
  </div>

  <div class="form-group">
  <label for="status">Статус:</label>
    <select class="form-control mb-3" name="status" id="status">
      <option value="">-- Все статусы --</option>
      <option value="ASSIGNED"
              th:selected="${status != null and status == 'ASSIGNED'}">Назначен</option>
      <option value="IN_PROGRESS"
              th:selected="${status != null and status == 'IN_PROGRESS'}">Начат</option>
      <option value="COMPLETED"
              th:selected="${status != null and status == 'COMPLETED'}">Завершен</option>
    </select>
  </div>

  <div class="form-group">
    <label for="testScore">Балл ниже:</label>
    <select class="form-control mb-3" name="testScore" id="testScore">
      <option value="">-- Все баллы --</option>
      <th:block th:each="i : ${#numbers.sequence(1, 10)}">
        <option
                th:value="${i}"
                th:selected="${param.testScore != null and param.testScore.length > 0
                            and #strings.isEmpty(param.testScore[0]) == false
                            and T(java.lang.Double).valueOf(param.testScore[0]) == i}"
                th:text="'≤ ' + ${i}">"
                th:text="'≤ ' + ${i}">
        </option>
      </th:block>
    </select>
  </div>

  <button type="submit">Фильтровать</button>
</form>

<br />

<div class="mt-3">
  <form action="/admin/assignments/exportToExcel" method="get">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><input type="checkbox" id="selectAll" /></th>
        <th>Тема теста</th>
        <th>Тест</th>
        <th>Кому назначено</th>
        <th>Кто назначил</th>
        <th>Дата назначения</th>
        <th>Статус</th>
        <th>Дата прохождения</th>
        <th>Проходной балл</th>
        <th>Результат</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="assignment : ${assignments}"
          th:classappend="${assignment.status.name() == 'COMPLETED'
                    ? (assignment.testScore != null
                        && assignment.test.passingScore != null
                        && assignment.testScore >= assignment.test.passingScore
                        ? 'table-success'
                        : 'table-danger')
                    : ''}">
        <td><input type="checkbox" name="assignmentsIds" th:value="${assignment?.id}" /></td>
        <td th:text="${assignment.test?.themeTest.themeName ?:'Empty'}">Тема</td>
        <td th:text="${assignment.test?.name ?:'Empty'}">Тест</td>
        <td th:text="${assignment.user?.name ?:'Emmpty'}">Пользователь</td>
        <td th:text="${assignment.assignedBy?.username ?: 'Неизвестно'}">Назначил</td>
        <td th:text="${#temporals.format(assignment.assignedAt, 'dd.MM.yyyy')}">Дата</td>
        <td th:text="${assignment.status.name() == 'ASSIGNED' ? 'Назначен'
                      : (assignment.status.name() == 'IN_PROGRESS' ? 'Начат'
                      : 'Завершен')}">Статус</td>
        <td th:if="${assignment.status.name() == 'COMPLETED'}"
            th:text="${#temporals.format(assignment.completedAt, 'dd.MM.yyyy')}">Дата прохождения</td>
        <td>
            <span th:if="${assignment.status.name() == 'COMPLETED'}"
                  th:text="${assignment.test.passingScore}">Проходной балл</span></td>
        <td>
            <span th:if="${assignment.status.name() == 'COMPLETED'}"
                  th:class="${assignment.testScore >= assignment.test.passingScore} ? 'text-success' : 'text-danger'"
                  th:text="${#numbers.formatDecimal(assignment.testScore, 1, 1)}">—</span>

      </tr>
      </tbody>
    </table><br />

        <button type="submit" class="btn btn-success">Выгрузить в Excel</button>

  </form>
</div><br />

<p th:if="${assignments == null or assignments.isEmpty()}" style="color: red;">
  По выбранным параметрам поиска тесты не найдены.
</p>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const selectAll = document.getElementById('selectAll');
    const checkboxes = document.querySelectorAll('input[name="assignmentsIds"]');

    selectAll.addEventListener('click', function () {
      checkboxes.forEach(checkbox => {
        checkbox.checked = this.checked;
      });
    });

    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('click', function () {
        if (!this.checked) {
          selectAll.checked = false;
        } else {
          const allChecked = Array.from(checkboxes).every(cb => cb.checked);
          selectAll.checked = allChecked;
        }
      });
    });
  });
</script>

</body>
</html>